<h1>Party Planner To Do List</h1>

<h2>What do you need to do?</h2>

<ul>
  {{#each plan}}
    {{#unless completed}}
      {{> parties/task-block completed=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>All Set!</h2>

<ul>
  {{#each plan}}
    {{#if completed}}
      {{> parties/task-block completed=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Task</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ta">Task:</label>
    <input type="text" id="ta" name="task">
  </div>

  <div class="form-group">
    <label for="completed">Completed?</label><br>
    <input type="radio" name="completed" value="1" checked> Ready!<br>
    <input type="radio" name="completed" value="0"> Not yet
  </div>
  
  <button class="button" type="submit">
    <div class="pattern">
      <div class="target inner bg2"></div>
      </div>
      <div class="text">Add Task</div>
    </button>
</form>
